extends layout
block content
    p Welcome to #{title}
    p This is an app that texts you the answer to everything

    form(action="/auth")
        div
            p Gmail Address
            input#gmail
            p Phone Number
            input#number
            p Carrier
            select#carrier
                options(value='aljdfss')

        div
            button START