doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
      div#page-wrap

          h1= title
          ul
              li: a(href="/") Home
              li: a(href="/howto") Set Up

          block content

